<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cart</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <h1 class="text-3xl font-bold mb-4">장바구니</h1>
    <table class="min-w-full border-collapse border border-gray-200">
      <tr>
        <th class="border border-gray-200 px-4 py-2" width="35%">상품이름</th>
        <th class="border border-gray-200 px-4 py-2" width="20%">수량</th>
        <th class="border border-gray-200 px-4 py-2" width="20%">가격</th>
        <th class="border border-gray-200 px-4 py-2" width="25%"></th>
      </tr>
      <!-- 동적으로 아래 tr들에 장바구니 항목 출력 -->
      {% for item_id, item in cart_items.items() %}
      <tr id="{{item_id}}">
        <td class="border border-gray-200 px-4 py-2 flex items-center gap-4">
          <img
            src="{{ url_for('static', filename=item.item.image) }}"
            alt="{{item.item.name}}"
            class="w-32 h-32 object-cover rounded-md flex-shrink-0"
          />
          <div class="whitespace-nowrap">
            {{ item.item.name }}
            <span class="inline-block w-full text-gray-400">
              ({{ "{:,}".format(item.item.price) }}원)
            </span>
          </div>
        </td>
        <td class="border border-gray-200 px-4 py-2">
          <input
            class="border border-gray-300 rounded-md px-2 py-1"
            type="number"
            min="0"
            value="{{ item.quantity }}"
            name="quantity"
          />
        </td>
        <td class="border border-gray-200 px-4 py-2" data-default-price="{{item.item.price}}">
          {{ "{:,}".format(item.item.price * item.quantity) }}원
        </td>
        <td class="border border-gray-200 px-4 py-2">
          <a
            href="{{ url_for('remove_from_cart', item_id=item_id) }}"
            class="text-red-500 hover:underline"
          >
            삭제
          </a>
        </td>
      </tr>
      {% endfor %}
    </table>

    <div class="flex gap-2">
      <a
        class="inline-block rounded-sm bg-blue-500 mt-4 px-4 py-2 text-sm font-medium text-white transition hover:scale-105 hover:shadow-sm"
        href="{{ url_for('product_list') }}"
      >
        상품 목록으로 돌아가기
      </a>
      <a
        class="inline-block rounded-sm bg-red-500 mt-4 px-4 py-2 text-sm font-medium text-white transition hover:scale-105 hover:shadow-sm"
        href="{{ url_for('clear_cart') }}"
      >
        장바구니 비우기
      </a>
    </div>
    <script>
      const quantityInputs = document.querySelectorAll('input[type="number"]');

      quantityInputs.forEach((input) => {
        input.addEventListener("change", () => {
          const newQuantity = parseInt(input.value);
          const itemRow = input.closest("tr");
          const itemId = itemRow.id;
          const defaultPrice = parseInt(
            itemRow.querySelector("td[data-default-price]").dataset.defaultPrice,
          );
          const newTotalPrice = defaultPrice * newQuantity;

          // 가격 업데이트
          itemRow.querySelector("td[data-default-price]").textContent =
            newTotalPrice.toLocaleString() + "원";

          // 서버에 수량 업데이트 요청
          fetch(`/update_cart/${itemId}`, {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ quantity: newQuantity }),
          });
        });
      });
    </script>
  </body>
</html>
