<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index 페이지</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <h1 class="text-3xl font-bold my-3">Index 페이지</h1>
    <ul class="flex gap-2 text-center">
      <li class="min-w-32">
        <a
          href="/users"
          class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-700 border border-gray-300 hover:bg-gray-100"
          >사용자 목록</a
        >
      </li>
      <li class="min-w-32">
        <a
          href="/products"
          class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-700 border border-gray-300 hover:bg-gray-100"
          >상품 목록</a
        >
      </li>
    </ul>
    <script></script>
  </body>
</html>
